<div class="profile-header">
    <div class="profile-avatar">
        <img [src]="user?.profilePictureUrl" alt="Your profile" />
    </div>

    <div class="profile-info">
        <div class="profile-username-section">
            <h2 class="profile-username">{{ user?.username }}</h2>
            <a *ngIf="isSameUser" routerLink="/edit" mat-raised-button>
                Edit Profile
            </a>
            <button
                *ngIf="!isSameUser && !isFollowing && isUserFollowing"
                (click)="follow('follow')"
                mat-raised-button
                color="primary"
            >
                Follow Back
            </button>
            <button
                *ngIf="!isSameUser && !isFollowing && !isUserFollowing"
                (click)="follow('follow')"
                mat-raised-button
                color="primary"
            >
                Follow
            </button>
            <button
                *ngIf="!isSameUser && isFollowing"
                (click)="follow('unfollow')"
                mat-raised-button
            >
                Unfollow
            </button>
            <button
                *ngIf="notifications && isSameUser"
                mat-icon-button
                [matBadge]="notifications.length"
                [matBadgeHidden]="!notifications.length"
                [matMenuTriggerFor]="menu"
            >
                <mat-icon>notifications</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <div mat-menu-item *ngFor="let notification of notifications">
                    <div class="line">
                        <b class="username">admin</b>
                        <span>{{
                            notification.createdAt | date : "short"
                        }}</span>
                    </div>
                    <div class="line">
                        <span>{{ notification.reason }}</span>
                    </div>
                </div>
                <div class="clear-notifications" *ngIf="notifications.length > 0">
                    <button
                        mat-stroked-button
                        color="primary"
                        (click)="clearNotifications()"
                    >
                        Clear all notifications
                    </button>
                </div>
            </mat-menu>
        </div>

        <div class="profile-stats">
            <div class="stat-item">
                <strong>{{ postsCount }}</strong> posts
            </div>
            <div class="stat-item">
                <strong> {{ user?.followers?.length }} </strong> followers
            </div>
            <div class="stat-item">
                <strong> {{ user?.following?.length }} </strong> following
            </div>
        </div>

        <div class="profile-bio">
            <div class="profile-name">
                {{ user?.name?.first }} {{ user?.name?.last }}
            </div>
            <div class="bio-text" *ngIf="user?.bio">
                {{ user?.bio }}
            </div>
        </div>
    </div>
</div>
