<mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="center"
    animationDuration="0ms"
    class="profile-tabs"
    dynamicHeight
>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="tab-icon">grid_on</mat-icon>
            <span class="tab-text">POSTS</span>
        </ng-template>

        <!-- Profile Posts Grid -->
        <div class="posts-grid" *ngIf="userPosts.length > 0; else noPosts">
            <div
                class="post-item"
                [routerLink]="'/post/' + post._id"
                *ngFor="let post of userPosts"
                matRipple
            >
                <img
                    *ngIf="post.mediaType === 'image'"
                    [src]="getUrl(post.mediaUrl)"
                    [alt]="post.altText"
                />
                <img
                    *ngIf="post.mediaType === 'video'"
                    [src]="getThumbnail(post.mediaUrl)"
                    [alt]="post.altText"
                />

                <div class="post-overlay">
                    <div class="post-stats">
                        <div class="stat">
                            <mat-icon>favorite</mat-icon>
                            {{ post.likes.length }}
                        </div>
                        <div class="stat">
                            <mat-icon>chat_bubble</mat-icon>
                            {{ post.comments.length }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template class="holder" #noPosts>
            <div class="holder">
                <div class="no-posts">
                    <mat-icon>photo_camera</mat-icon>
                    <p>No posts available.</p>
                    <button
                        mat-raised-button
                        color="primary"
                        routerLink="/create"
                        *ngIf="ownProfile"
                    >
                        Create a Post
                    </button>
                </div>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>
