services:
  frontend:
    build: 
      context: .
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/usr/src/app
    depends_on:
      - backend
  backend:
    build: 
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/usr/src/app
