:host {
    --mat-form-field-container-height: 2rem;
    --mat-form-field-container-vertical-padding: 0.25rem;
    --mat-form-field-container-text-size: 12px;
}

.post {
    margin-bottom: 16px;
    background-color: #1e1e1e;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

mat-card-header {
    padding: 12px 16px;
    align-items: center;
}

.more-button {
    position: absolute;
    right: 8px;
    top: 8px;
}

.delete {
    color: #c2185b;
    font-weight: bold;
}

.post-image {
    width: 100%;
    margin: 0;
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
}

.post-avatar {
    margin-bottom: 0;
}

.post-actions-left {
    display: flex;
}

.post-likes {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
}

.post-caption {
    font-size: 14px;
    margin-bottom: 8px;
}

.post-username {
    font-weight: 600;
    margin-right: 4px;
}

.post-comments {
    font-size: 14px;
}

.view-comments {
    color: #a8a8a8;
    margin-bottom: 4px;
    margin-top: 4px;
    cursor: pointer;
}

.view-comments:hover {
    text-decoration: underline;
}

.post-comment {
    margin-bottom: 4px;
}

mat-form-field {
    width: 90%;
}

.custom-height {
    height: 60px;
    width: 90%;
}

.custom-height .mat-form-field-wrapper {
    padding-bottom: 0;
    padding-top: 0;
    height: 100%;
}

.custom-height .mat-input-element {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    line-height: 60px;
}

.input {
    display: flex;
    align-items: center;
}

.post-time {
    font-size: 10px;
    color: #a8a8a8;
    text-transform: uppercase;
    margin-top: 8px;
}
