<mat-card class="post">
    <mat-card-header>
        <img
            mat-card-avatar
            class="post-avatar"
            [src]="post.userId.profilePictureUrl"
            [alt]="post.userId.username"
        />

        <mat-card-title
            ><a [href]="'/profile/' + post.userId._id">{{
                post.userId.username
            }}</a></mat-card-title
        >
    </mat-card-header>

    <img
        *ngIf="post.mediaType === 'image'"
        mat-card-image
        [src]="post.mediaUrl"
        alt="{{ post.altText }}"
        class="post-image"
    />
    <video *ngIf="post.mediaType === 'video'" controls class="post-video">
        <source src="{{ post.mediaUrl }}" />
    </video>

    <mat-card-actions>
        <div class="post-actions-left">
            <button mat-icon-button (click)="likePost()">
                <mat-icon>favorite_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>chat_bubble_outline</mat-icon>
            </button>
        </div>
        <button mat-icon-button>
            <mat-icon>bookmark_border</mat-icon>
        </button>
    </mat-card-actions>

    <mat-card-content>
        <div class="post-likes">{{ post.likes.length }} likes</div>

        <a [href]="'/profile/' + post.userId._id" class="post-caption">
            <span class="post-username">{{ post.userId.username }}</span>
        </a>
        {{ post.caption }}

        <div
            class="post-comments"
            *ngIf="post.comments && post.comments.length > 0"
        >
            <div *ngIf="post.comments.length > 2" class="view-comments">
                View all {{ post.comments.length }} comments
            </div>
            <div
                *ngFor="let comment of post.comments.slice(0, 2)"
                class="post-comment"
            >
                <span class="post-username">{{ comment.username }}</span>
                {{ comment.text }}
            </div>
        </div>

        <div class="post-time">
            {{ post.createdAt | date : "short" }}
        </div>
    </mat-card-content>
</mat-card>
