<mat-card *ngIf="post && user" class="post">
    <mat-card-header>
        <img
            mat-card-avatar
            class="post-avatar"
            [src]="user.profilePictureUrl"
            [alt]="user.username"
        />

        <mat-card-title
            ><a [href]="'/profile/' + user._id">{{
                user.username
            }}</a></mat-card-title
        >
    </mat-card-header>

    <img
        *ngIf="post.mediaType === 'image'"
        mat-card-image
        [src]="post.mediaUrl"
        [alt]="post.altText"
        class="post-image"
    />
    <video *ngIf="post.mediaType === 'video'" controls class="post-video">
        <source [src]="post.mediaUrl" />
    </video>

    <mat-card-actions>
        <div class="post-actions-left">
            <button *ngIf="!isLiked" mat-icon-button (click)="likePost('like')">
                <mat-icon>favorite_outline</mat-icon>
            </button>
            <button
                *ngIf="isLiked"
                mat-icon-button
                (click)="likePost('unlike')"
            >
                <mat-icon style="color: #c2185b">favorite</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>chat_bubble_outline</mat-icon>
            </button>
        </div>
        <button mat-icon-button>
            <mat-icon>bookmark_border</mat-icon>
        </button>
    </mat-card-actions>

    <mat-card-content>
        <div class="post-likes">{{ post.likes.length }} likes</div>

        <a [href]="'/profile/' + user._id" class="post-caption">
            <span class="post-username">{{ user.username }}</span>
        </a>
        {{ post.caption }}

        <div class="post-comments" *ngIf="post.comments.length > 0">
            <div class="view-comments" (click)="getComments()">
                View all comments
            </div>
        </div>
        <div class="input" [formGroup]="commentForm">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Comment</mat-label>
                <input matInput formControlName="comment" />
            </mat-form-field>
            <button mat-icon-button (click)="addComment()">
                <mat-icon>send</mat-icon>
            </button>
        </div>
        <div class="post-time">
            {{ post.createdAt | date : "short" }}
        </div>
    </mat-card-content>
</mat-card>
