.stories-container {
    background-color: inherit;
    margin-bottom: 16px;
    padding: 16px 0;
    overflow-x: auto;
    box-shadow: none;
}

.left {
    display: none;
}

.stories {
    display: flex;
    gap: 12px;
    padding: 0 16px;
    transition: transform 0.5s ease-out;
    will-change: transform;
}

.arrow-left {
    left: 5px;
    top: 40%;
}

.arrow-right {
    right: 5px;
    top: 40%;
}

.arrow {
    background-color: darkgray;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    position: absolute;
}
