<mat-card class="stories-container">
    <!--<div class="left" #arrowLeft>
        <mat-icon
            (click)="move($event, stories, arrowRight)"
            class="arrow arrow-left"
            >chevron_left</mat-icon
        >
    </div> -->
    <div #stories class="stories">
        <app-story *ngFor="let user of users" [user]="user"></app-story>
    </div>
    <!--<div class="right" #arrowRight>
        <mat-icon
            (click)="move($event, stories, arrowLeft)"
            class="arrow arrow-right"
            >chevron_right</mat-icon
        >
    </div> -->
</mat-card>
