mat-list-item {
    padding: 0.5rem 0;
}

.container {
    display: flex;
    gap: 0.5rem;
}

.outer-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user {
    gap: 1rem;
}

.multiple-comments {
    border-bottom: 1px solid;
}

.multiple-likes {
    border-bottom: 1px solid;
}

.user .username:hover {
    cursor: pointer;
}

.profile-picture {
    margin-top: 8px !important;
    cursor: pointer;
}

::ng-deep .mat-list .mat-list-item .mat-line {
    word-wrap: break-word;
    white-space: pre-wrap;
}

::ng-deep .mat-list .mat-list-item {
    height: initial !important;
}
