<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
    <div class="outer-container" *ngIf="data.comments">
        <mat-list dense>
            <mat-list-item
                class="user"
                *ngFor="let comment of data.comments; index as i"
            >
                <img
                    (click)="navigatePage('/profile/' + comment.userId._id)"
                    class="profile-picture"
                    matListItemAvatar
                    [src]="comment.userId.profilePictureUrl"
                    [alt]="comment.userId.username"
                />
                <div matListItemLine>
                    <b
                        (click)="navigatePage('/profile/' + comment.userId._id)"
                        class="username"
                        >{{ comment.userId.username }}
                    </b>
                    <span>{{ comment.createdAt | date : "short" }} </span>
                </div>
                <span matListItemLine> {{ comment.text }} </span>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="outer-container" *ngIf="data.likes">
        <mat-list-item class="user" *ngFor="let like of data.likes; index as i">
            <img
                (click)="navigatePage('/profile/' + like.userId._id)"
                class="profile-picture"
                matListItemAvatar
                [src]="like.userId.profilePictureUrl"
                [alt]="like.userId.username"
            />
            <div matListItemLine>
                <b
                    (click)="navigatePage('/profile/' + like.userId._id)"
                    class="username"
                    >{{ like.userId.username }}
                </b>
            </div>
        </mat-list-item>
    </div>
    <div *ngIf="data.comments?.length === 0 && data.likes?.length === 0">
        <p>No {{ data.title.toLowerCase() }} yet.</p>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
