name: fake-insta
services:
  frontend:
    build:
      context: ./frontend/dev
      dockerfile: Dockerfile.frontend
    ports:
      - "4200:4200"
    volumes:
      - ../frontend:/usr/src/app
    depends_on:
      - backend

  backend:
    build:
      context: ./backend/dev
      dockerfile: Dockerfile.backend
    ports:
      - "3000:3000"
    volumes:
      - ../backend:/usr/src/app

  jenkins:
    build:
      context: ./jenkins
      dockerfile: Dockerfile.jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - ../jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
