name: fake-insta-prod
services:

  frontend:
    build:
      context: ..
      dockerfile: docker/frontend/prod/Dockerfile.frontend
    ports:
      - "80:80"
    restart: unless-stopped

  backend:
    build:
      context: ..
      dockerfile: docker/backend/prod/Dockerfile.backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
