name: fake-insta-prod
services:

  frontend:
    build:
      context: ..
      dockerfile: docker/frontend/prod/Dockerfile.frontend
    restart: unless-stopped
    depends_on:
      - backend

  backend:
    build:
      context: ..
      dockerfile: docker/backend/prod/Dockerfile.backend
    environment:
      - NODE_ENV=production
    restart: unless-stopped

  proxy:
    build:
      context: ..
      dockerfile: docker/nginx/Dockerfile.nginx
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    restart: unless-stopped
