:host {
    display: block;
    width: 100%;
    max-width: 900px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-top: 20px;
}

.feed {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.posts {
    max-width: 600px;
}

.mini-profile {
    flex-basis: 20%;
}

.container .feed .no-posts {
    margin-top: 25px;
}

.container .feed .no-posts h2 {
    font-size: 2rem;
}

.no-posts .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.no-posts .options a {
    width: 100%;
    max-width: 250px;
}

@media screen and (max-width: 1300px) {
    .mini-profile {
        display: none;
    }

    .container .feed .no-posts {
        margin-top: 0;
    }
}
