<mat-toolbar class="footer-nav">
    <a routerLink="/feed" mat-icon-button>
        <mat-icon>home</mat-icon>
    </a>
    <a routerLink="/search" mat-icon-button>
        <mat-icon>search</mat-icon>
    </a>
    <a routerLink="/create" mat-icon-button>
        <mat-icon>add_box</mat-icon>
    </a>
    <a routerLink="/settings" mat-icon-button>
        <mat-icon>settings</mat-icon>
    </a>
    <a routerLink="/profile" mat-icon-button>
        <div class="profile-avatar">
            <img src="https://i.pravatar.cc/150?img=1" alt="Your profile" />
        </div>
    </a>
</mat-toolbar>
