<mat-toolbar class="footer-nav">
    <button mat-icon-button (click)="changeView('feed')">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>favorite_border</mat-icon>
    </button>
    <button mat-icon-button (click)="changeView('profile')">
        <div class="profile-avatar">
            <img src="https://i.pravatar.cc/150?img=1" alt="Your profile" />
        </div>
    </button>
</mat-toolbar>
