<mat-toolbar class="footer-nav">
    <a routerLink="/feed" mat-icon-button>
        <mat-icon>home</mat-icon>
    </a>
    <a routerLink="/search" mat-icon-button>
        <mat-icon>search</mat-icon>
    </a>
    <a routerLink="/create" mat-icon-button>
        <mat-icon>add_box</mat-icon>
    </a>
    <a routerLink="/profile/{{ user?._id }}" mat-icon-button>
        <div class="profile-avatar">
            <img
                *ngIf="user?.profilePictureUrl !== ''"
                [src]="user?.profilePictureUrl"
                alt="Your profile"
            />

            <img
                *ngIf="user?.profilePictureUrl === ''"
                src="assets/avatar.jpg"
                alt="Your profile"
            />
            />
        </div>
    </a>
    <button (click)="logout($event)" mat-icon-button>
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
