<mat-toolbar class="header">
    <div class="logo">
        <a routerLink="/app/feed" class="instagram-text link">Instagram</a>
    </div>
    <div class="actions">
        <a class="link link-container" routerLink="/auth/login">
            <mat-icon>login</mat-icon>
            Login
        </a>
        <a class="link link-container" routerLink="/auth/register">
            <mat-icon>person_add</mat-icon>
            Sign Up
        </a>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>
