<div class="sidebar">
    <div class="logo">
        <span class="instagram-text">Instagram</span>
    </div>

    <mat-nav-list class="sidebar-nav">
        <div class="nav-links">
            <a
                routerLink="/feed"
                routerLinkActive="active"
                mat-list-item
                class="nav-item"
            >
                <mat-icon matListItemIcon>home</mat-icon>
                <span matListItemTitle>Home</span>
            </a>

            <a mat-list-item class="nav-item">
                <mat-icon matListItemIcon>search</mat-icon>
                <span matListItemTitle>Search</span>
            </a>

            <a mat-list-item class="nav-item">
                <mat-icon matListItemIcon>add_box</mat-icon>
                <span matListItemTitle>Create</span>
            </a>

            <a
                mat-list-item
                routerLinkActive="active"
                class="nav-item"
                routerLink="/profile"
            >
                <div class="profile-icon" matListItemIcon>
                    <img
                        src="https://i.pravatar.cc/150?img=1"
                        alt="Your profile"
                    />
                </div>
                <span matListItemTitle>Profile</span>
            </a>
        </div>
        <a mat-list-item [mat-menu-trigger-for]="menu" class="nav-item">
            <mat-icon matListItemIcon>menu</mat-icon>
            <span matListItemTitle>More</span>
            <mat-menu class="menu" #menu="matMenu">
                <a routerLink="/settings" mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    Settings
                </a>
                <button mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    Logout
                </button>
            </mat-menu>
        </a>
    </mat-nav-list>
</div>
