<div class="sidebar">
    <div class="logo">
        <span class="instagram-text">Instagram</span>
    </div>

    <mat-nav-list class="sidebar-nav">
        <div class="nav-links">
            <a
                routerLink="/feed"
                routerLinkActive="active"
                mat-list-item
                class="nav-item"
            >
                <mat-icon matListItemIcon>home</mat-icon>
                <span matListItemTitle>Home</span>
            </a>

            <a
                routerLink="/search"
                routerLinkActive="active"
                mat-list-item
                class="nav-item"
            >
                <mat-icon matListItemIcon>search</mat-icon>
                <span matListItemTitle>Search</span>
            </a>

            <a
                routerLink="/create"
                routerLinkActive="active"
                mat-list-item
                class="nav-item"
            >
                <mat-icon matListItemIcon>add_box</mat-icon>
                <span matListItemTitle>Create</span>
            </a>

            <a
                mat-list-item
                routerLinkActive="active"
                class="nav-item"
                routerLink="/profile"
            >
                <div class="profile-icon" matListItemIcon>
                    <img
                        src="https://i.pravatar.cc/150?img=1"
                        alt="Your profile"
                    />
                </div>
                <span matListItemTitle>Profile</span>
            </a>
            <a
                *ngIf="user?.isAdmin"
                mat-list-item
                routerLink="/admin/users"
                routerLinkActive="active"
                class="nav-item"
            >
                <mat-icon matListItemIcon>person</mat-icon>
                <span matListItemTitle>Users</span>
            </a>
            <a
                *ngIf="user?.isAdmin"
                mat-list-item
                routerLink="/admin/posts"
                routerLinkActive="active"
                class="nav-item"
            >
                <mat-icon matListItemIcon>public</mat-icon>
                <span matListItemTitle>Posts</span>
            </a>
        </div>
        <div>
            <a mat-list-item class="nav-item" (click)="logout($event)">
                <mat-icon matListItemIcon>logout</mat-icon>
                <span matListItemTitle>Log out</span>
            </a>
        </div>
    </mat-nav-list>
</div>
